@using AgendaPro.Domain.Entities
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<AgendaPro.Web.Models.Customer.CustomerModel> 
@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Cnpj</th>
            <th scope="col">Phone</th>
            <th class="text-center" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.Cnpj</td>
                <td>@customer.Phone</td>
                <td class="d-flex justify-content-center gap-3">
                    <button class="btn btn-secondary edit-button" data-id="@customer.Id">Edit</button>
                    <form asp-controller="Customers" asp-action="Delete">
                        <input type="hidden" name="id" value="@customer.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
        @Html.PagedListPager(Model, pageIndex => Url.Action("Index", new { pageIndex }), new PagedListRenderOptions
        {
            UlElementClasses = ["pagination"],
            LiElementClasses = ["page-item"],
            PageClasses = ["page-link"]
        })
}
else
{
    <p>No customers found</p>
}
